@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Employeess ...</h1>
    <p><img src="~/about.png" width="60%" height="65%" class="img" /></p>

</div>


